version: '3.8'
services:
  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: laravel_app
    volumes:
      - ./src:/var/www/html
    networks:
      - laravel
    depends_on:
      - mariadb

  web:
    image: nginx:alpine
    container_name: laravel_nginx
    volumes:
      - ./src:/var/www/html
      - ./config/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    networks:
      - laravel
    depends_on:
      - app

  mariadb:
    image: mariadb:10.1.21
    container_name: laravel_mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
    volumes:
      - ./mariadb/db_data:/var/lib/mysql
      - ./homestead.sql:/docker-entrypoint-initdb.d/init.sql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    ports:
      - "3306:3306"
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
